{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Your Account</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      color: #1a1a1a;
      background-color: #ffffff;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="max-width: 600px; margin: 0 auto"
    >
      <tr>
        <td align="center" style="padding: 20px">
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="center" style="padding: 30px 0">
                <img
                  src="logo.png"
                  alt="Nepal Heritage Handicraft Logo"
                  style="width: 450px; max-width: 100%; height: auto"
                />
              </td>
            </tr>
          </table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td
                align="center"
                style="font-size: 26px; font-weight: bold; margin: 0 0 12px"
              >
                Active your account
              </td>
            </tr>
          </table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td
                align="center"
                style="font-size: 16px; line-height: 1.6em; margin: 0 0 20px"
              >
                <p>
                  Hey there, your account at Nepal heritage handicraft has been
                  created. All you have to do is click the link below to
                  activate it.
                </p>
              </td>
            </tr>
          </table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td
                align="center"
                style="
                  font-size: 16px;
                  line-height: 1.6em;
                  margin: 0 0 20px;
                  padding: 0 0 20px 0;
                "
              >
                <a
                  href="{{link}}"
                  target="_blank"
                  style="
                    background-color: #000;
                    color: white;
                    padding: 20px;
                    border: none;
                    cursor: pointer;
                  "
                >
                  Activate Account
                </a>
              </td>
            </tr>
          </table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td
                align="center"
                style="border-top: 1px solid #ccc; margin: 20px 0"
              ></td>
            </tr>
          </table>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="center" style="padding: 10px">
                <a
                  href="https://www.instagram.com/nepalheritagehandicraft/"
                  target="_blank"
                  style="text-decoration: none"
                >
                  <img
                    src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/black/instagram_96.png"
                    alt="Instagram"
                    style="width: 24px; margin: 0 5px"
                  />
                </a>
                <a href="#" target="_blank" style="text-decoration: none">
                  <img
                    src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/black/facebook_96.png"
                    alt="Facebook"
                    style="width: 24px; margin: 0 5px"
                  />
                </a>
                <a
                  href="https://checkout-us.heyharper.com/_t/c/A1020004-180A184668220577-11E6250A?l=AABsrzEKoHXDAtN9uCQlCSny5AE1xzLWRfb%2BrHua4bakHsTx5xhTRCpkhD9aFZhlQn2YzR8B8TNNHXg8bQVjDpx9xQ9%2BH%2Fwgq5iki9vdaZtys6RD7bPi7a740nRHxO3KdXzHGNDXUeQrL4Csl12DxaZO9p4d2fTCNiLhV5dM%2B4FmCrk%3D&amp;c=AADXOIY2ndvuxXCXrXG6QhFLKmJmqszhqUc35pyPwb0UbnJ4mmExpLbLpnIFSFZJn0lQK3JEeg4P1u85GQuMEZOTXCR3KcGfkbPpitgSbk8obvAE7T%2Be7uDKAt3x%2FLmisepc2VqYBdexuoXLb5UVc3s%2BhAzBclOjYQt97nYIhOL9BZWALyotY9%2Bp4jElDU0B28maOf7EnFM3gyM%2BxxXJM8H04GLPxwYSOdpndyy3ehK2eFPuxr5HmAgZURyceyZWCmyS1ipmO3x46QNvYWEmwTIyMc0gog7xkc6JOOqQFSaY75k%2FBbaABbDbaVD55m9eWVp7acjV59gaa8x5Wn2YQqjoP%2FDIkFrd5A9MQjLPxMwj3Qup2jAnhS4g7g%3D%3D"
                  target="_blank"
                  style="text-decoration: none"
                >
                  <img
                    src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/black/pinterest_96.png"
                    alt="Pinterest"
                    style="width: 24px; margin: 0 5px"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endautoescape %}
